
#fund_product_top
{
	margin-top: 15px;
	background-color: #fff;
	box-shadow: 0px 0px 4px #ddd;
	padding: 0px;
}

#fund_product_top{
	padding-bottom: 30px;
}

.topbox-left{
	padding-top: 20px;
}

.topbox-left .index-title-text{
	padding-bottom: 0px;
}

.topbox-left .topbox-left-1{
	height: 40px;
	width: 100%;
	margin-top: 40px;
	font-size: 1.5rem;
}

.topbox-left .topbox-left-1 .fund-name{
	float: left;
	margin-left: 10px;
}

.topbox-left .topbox-left-1 .fund-date{
	float: right;
	margin-right: 30px;
	color: #999;
}

.topbox-right{
	height: 100%;
	overflow: hidden;
}

.topbox-left-2{
	text-align: center;
	color: #c12f24;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 2px;
	float: left;
}

.right-line{
	border-right: 1px solid #ccc;
}
.topbox-left-3{
	margin-top: 5px;
	text-align: center;
	color: #999;
	font-size: 13px;
	float: left;
}
.topbox-left-4{
	margin-top: 20px;
	margin-left: 20px;
}
.topbox-left-4 p{
	color: #999;
	font-size: 14px;
	letter-spacing: 3px;
	margin-top: 20px;
}
.topbox-left-4 p span{
	color: #000000;
}
.topbox-left-5{
	
}

.topbox-left-5 .btn-box{
	width: 250px;
	margin: 0 auto;
}

.topbox-left-5 .btn-box .btn-left{
	float: left;
	width: 112px;
}

.topbox-left-5 .btn-box .btn-right{
	float: right;
	width: 112px;
}

.topbox-right ul{
	list-style: none;
	padding-inline-start: 0px;
}

.topbox-right-ul{
	margin-left: 40px;
}

.topbox-right-ul li{
	float: left;
	height: 28px;
	font-size: 20px;
	margin-top: 43px;
	margin-right: 30px;
	font-weight: bold;
	letter-spacing: 2px;
}
.topbox-right-ul li a{
	color: #000;
}
.topbox-right-ul li a:hover{
	text-decoration:none;
	border-bottom: 3px #C12F24 solid;
}
.xch{
	color: #000;
}
.li-active{
	border-bottom: 3px #C12F24 solid;
}

.topbox-right-1{
	margin-top: 90px;
	width: 800px;
	margin-left: 30px;
}

.box-red{
	height: 10px;
	width: 10px;
	background-color: red;
	float: left;
	margin: 3px 3px 2px 40px;
	
}

.box-blue{
	height: 10px;
	width: 10px;
	background-color: cadetblue;
	float: left;
	margin: 3.5px 3px 2px 30px;
}

.info-text{
	color: #999;
	font-size: 13px;
	float: left;
	margin-left: 50px;
}

.picture{
	width: 95%;
	margin-left: 10px;
	margin-top: 20px;
}

.picture img{
	width: 100%;
}


.date-tab{
	margin-top: 20px;
	margin-left: 40px;
}
.date-tab li{
	float: left;
	width: 70px;
	height: 32px;
	padding-top: 5px;
	text-align: center;
	font-size: 14px;
	margin-right: 5px;
	margin-top: 10px;
	box-shadow: 1px 1px 4px #555;
	border-radius: 4px;
}
.date-tab-active{
	background-color: #C12F24;
	color: white;
}
.date-section{
	margin-left: 40px;
}
.date-section li{
	float: left;
	margin-right: 30px;
	margin-top: 10px;
}

@media screen and (min-width:1200px) {
	.date-section li{
		margin-right: 6px;
		margin-top: 10px;
		
	}
	.date-section{
		margin-left: 0px;
	}
}

.date-section li select{
	width: 120px;
	height: 33px;
	border-radius: 0.5em;
	padding-left: 10px;
	color: #999;
	letter-spacing: 2px;
}

#fund_product_down{
	padding: 0px;
	margin-top: 30px;
}

#fund_product_down ul{
	list-style: none;
	padding-inline-start: 0px;
}

#fund_product_left{
	background-color: white;
	padding: 0px;
	box-shadow: 0px 0px 4px #ddd;
}

#fund_product_right{
	padding: 0;
}

.li-active a{
	color: #C12F24;
}

.box-grey{
	height: 10px;
	width: 10px;
	background-color: #A6A6A6;
	float: left;
	margin: 8px 10px 2px 40px;
}

.down-left-title{
	font-size: 20px;
	letter-spacing: 2px;
}

.down-left-title{
	float: left;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.fund-manager-box{
	padding-left: 40px;
	margin-top: 60px;
}

.manager-picture{
	width: 130px;
	float: left;
}

.fund-manager-box-right{
	width: 550px;
	float: left;
	margin-left: 30px;
}

.fund-manager-name{
	font-size: 20px;
	color: #ca7c32;
	font-weight: bold;
}

.fund-manager-text{
	margin-top: 10px;
	line-height: 30px;
	font-size: 14px;
	letter-spacing: 0px;
}

.fund-profile-table{
	margin-left: 100px;
	margin-top: 30px;
}

.fund-profile-table tbody tr td:nth-child(odd){
	color: #999;
	background-color: #ffeee9;
	width: 97px;
	height: 38px;
	text-align: center;
	font-size: 14px;
}

.fund-profile-table tbody tr td:nth-child(even){
	width: 190px;
	height: 38px;
	padding-left: 30px;
	font-size: 14px;
}

.fund-profile-text{
	margin-top: 40px;
	margin-left: 40px;
	font-size: 14px;
	line-height: 25px;
	letter-spacing: 0.5px;
}

.hold-fund-position{
	width: 100%;
}

.hold-fund-position .img1,
.hold-fund-position .img2{
	width: 100%;
	margin-left: 40px;
}

.hold-fund-position .img1 img,
.hold-fund-position .img2 img{
	width: 90%;
}

.hold-fund-position .img1 img{
	margin-bottom: 50PX;
}
.product-notice-table{
	margin-left: 40px;
}
.product-notice-table tr td:nth-child(1){
	height: 30px;
	width:60%;
}

.product-notice-table tr td:nth-child(2){
	width: 10%;
}

.product-notice-table tr td:nth-child(1) a,
.product-notice-table tr td:nth-child(2) a{
	color: #000000;
	font-size: 1.5rem;
}

.right-1{
	float: right;
	width: 380px;
	background-color: white;
	box-shadow: 0px 0px 4px #ddd;
	margin-bottom: 30px;
}

.right-1 .index-title{
	width: 350px;
	margin: 0 auto;
	float: initial;
	height: 55px;
}

.right-1 table{
	font-size: 1.5rem;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 5px;
}

.right-1 table tr:nth-child(1){
	color: #999;
}
.right-1 table tr td{
	text-align: center;
	height: 40px;
}
.right-table-1 tr td:nth-child(1){
	width: 40px;
}

.right-table-1 tr td:nth-child(2){
	width: 200px;
}

.right-table-1 tr td:nth-child(1) div{
	height: 20px;
	width: 20px;
	color: white;
	margin-left: 10px;
}

.num1{
	background-color: #c12d21;
}
.num2{
	background-color: #c87e30;
}
.num3{
	background-color: #d9bd90;
}
.num4{
	background-color: #989898;
}
.num5{
	background-color: #989898;
}
.text-red{
	color: #c22f25;
}

.text-green{
	color: #62a038;
}

.text-grey{
	color: #ccc;
}

.right-table-2 tr td:nth-child(1){
	width: 80px;
}

.right-table-2 tr td:nth-child(2){
	width: 180px;
}

.more{
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	margin: 10px auto;
}

.more a{
	color: #999;
}
