/* 
----说明----
所有最外框架id名称规则为"网页名_模块名",
其余id和class中不会出现"_"(下划线)
 */
/* 所有网页通用样式 */
* {
	text-decoration: none;
}

body {
	font-size: 62.5%;
	background-color: #fffbf8;
	/* background-color: #000000; */
}

.w-10{	width: 10%;}
.w-20{	width: 20%;}
.w-30{	width: 30%;}
.w-40{	width: 40%;}
.w-50{	width: 50%;}
.w-60{	width: 60%;}
.w-70{	width: 70%;}
.w-80{	width: 80%;}
.w-90{	width: 90%;}
.w-100{	width: 100%;}
.f-left{	float: left;}
.f-right{	float: right;}

/* 
媒体查询 模板
@media screen and (min-width:0px) {}
@media screen and (min-width:768px) {}
@media screen and (min-width:992px) {}
@media screen and (min-width:1200px) {} */

/* 重写bootstrap里的cont*/
@media (min-width:1200px) {
	.container {
		width: 1200px
	}
}
/* 头部样式 开始*/
#index_header {
	background-color: white;
}

#index_header .top-bar {
	background-color: rgb(224, 224, 224);
	font-size: 13px;
	margin: 0 auto;
}

.top-bar a {
	color: #000000;
}

.con {
	margin: 0 auto;
	height: 35px;
	font-family: "微软雅黑";
	font-size: 13px;
}

.top-bar .con .top-bar-left{
	float: left;
}
.top-bar .con .top-bar-right{
	float: right;
}

.top-bar .con .top-bar-left li,
.top-bar .con .top-bar-right li {
	margin-right: 18px;
	list-style-type: none;
}

.top-bar .con .top-bar-left li ,
.top-bar .con .top-bar-right li {
	float: left;
	margin-top: 8px;
}

.top-bar .con a {
	color: #000000;
}

.top-bar .con a:hover {
	text-decoration: none;
	color: red;
}

.top-bar .con ul {
	display: block;
	list-style-type: disc;
	padding-inline-start: 0px;
	/* 更改参数影响缩进 */
}

.top-bar .con ul li {
	display: list-item;
	text-align: -webkit-match-parent;
}

/* 头部中间部分 开始 */
.top-mid {
	height: 120px;
}

.top-mid-box {
	padding-top: 20px;
	height: 80px;
	margin: 0 auto;
}

.top-mid-1 {
	float: left;
}

.top-mid-1 img{
	display: block;
	width: 440px;
	margin: 0 auto;
}

@media screen and (min-width:768px) {
	.top-mid-1{
		width: 100%;
	}
}
@media screen and (min-width:992px) {
	.top-mid-1{
		width: 440px;
	}
}

.top-mid-1 img {
	margin: 0 auto;
}

.top-mid-2 span {
	float: left;
	margin-top: 20px;
	margin-left: 120px;
	color: #c12f24;
	font-family: "微软雅黑";
	font-size: 20px;
}

.top-mid-3 {
	float: right
}

.top-mid-3 {
	padding-top: 5px;
}

.search-box {
	height: 40px;
}

/* 放大镜按钮设置 */
.top-mid-3 .navbar-form .btn {
	padding: 0;
	width: 70px;
	height: 40px;
	background-color: rgb(193, 47, 36);
}

button img {
	padding: 0;
	margin: 0 auto;
}

.main-color {
	color: #c12e24;
}


/* 导航条 nav*/
/* 缩小后的小logo */
.navbar-brand img {
	float: left;
	height: 35px;
	margin-top: -8px;
}

.navbar-brand span {
	float: left;
	padding-left: 15px;
	font-size: 30px;
	font-family: "方正舒体";
	color: #555;

}

#index_header .index-navbar {
	background-color: #fff;
}

#index-nav {}

#index_header .index-navbar .index-navbar-box .navbar-nav {}

#index_header .index-navbar .navbar-nav a {
	height: 48px;
}

#index_header .index-navbar .navbar-nav li a,
#index_header .index-navbar .navbar-nav li a:hover {
	border-radius: 6px 6px 0 0;
	color: #000000;
	text-align: center;
}

/* 随调整导航栏的字体大小和宽度 */
@media screen and (min-width:768px) {
	#index_header .index-navbar .navbar-nav li a {
		width: 100px;
		font-size: 15px;
	}
}

@media screen and (min-width:992px) {
	#index_header .index-navbar .navbar-nav li a {
		width: 134px;
		font-size: 20px;
	}
}

@media screen and (min-width:1200px) {
	#index_header .index-navbar .navbar-nav li a {
		width: 160px;
		font-size: 20px;
	}
}

#index_header .index-navbar .navbar-nav li a:hover {
	border-bottom: 2px solid #c12e24;
}

#index_header .index-navbar .navbar-nav li.active a {
	background-color: #c12e24;
	color: white;
}

.navbar {
	margin-bottom: 0px;
	border-bottom: 4px solid #c12e24;
}

/* 头部样式 结束*/


/* 尾部 开始 */
#index_footer {
	width: 100%;
	padding: 0;
	background-color: #371212;
	min-height: 300px;
	max-height: 350px;
}

#index_footer .f1{
	padding: 0;
}

#index_footer .f1 .top1 {
	height: 160px;
	margin: 0 auto;
	color: #ccc;
	font-size: 15px;
	padding-top: 30px;
}

#index_footer .f1 .top1 .row{
	padding: 0;
}

#index_footer .f1 .top1 .l1 {
	float: left;
	padding: 0;
	padding-top: 25px;
}

.top1 a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.lb{
	padding-top: 18px;
	
}

.lb a {
	color: #ccc;
	text-decoration: none;
	font-weight: normal;
	line-height: 25px;
}

#index_footer .copyright {
	text-align: center;
	color: #ccc;
	line-height: 25px;
	font-size: 14px;
}

#index_footer .copyright .copyright-1 a{
	color:#ccc ;
}

#index_footer .copyright .copyright-1 span{
	padding: 0 5px;
}

@media screen and (min-width:0px) {
	#index_footer .f1 .top1 .l1 img{
		display: block;
		padding: 0;
		width: 320px;
		margin: 0 auto;
	}
	#index_footer .f1 .top1 .l2,
	#index_footer .f1 .top1 .l3,
	#index_footer .f1 .top1 .l4,
	#index_footer .f1 .top1 .l5{
		float: left;
		padding: 0;
		padding-top: 30px;
		text-align: center;
		
	}
}
@media screen and (min-width:992px) {
	#index_footer .f1 .top1 .l1 img{
		width: 320%;
		position: relative;
		top: 0px;
	}
	#index_footer .f1 .top1 .l2,
	#index_footer .f1 .top1 .l3,
	#index_footer .f1 .top1 .l4,
	#index_footer .f1 .top1 .l5{
		float: left;
		padding: 0;
		text-align: right;
	}
}
/* 尾部 结束 */

/* 内容模块通用头部 开始 */
.index-title {
	width: 100%;
	float: left;
	border-bottom: 2px solid #dabf90;
}

.index-title-img {
	float: left;
	padding-left: 20px;
	padding-top: 10px;
}

.index-title-text {
	float: left;
	padding-top: 12px;
	padding-left: 8px;
	padding-bottom: 10px;
	font-family: "微软雅黑";
	font-size: 25px;
	font-weight: bold;
	color: #c12f24;
}

.index-title-add {
	float: right;
	padding-top: 30px;
	padding-right: 20px;
	font-family: "微软雅黑";
	font-size: 13px;
	font-weight: bold;
	color: #c12f24;
}

.now-position{
	margin: 0 auto;
	height: 35px;
	border-left: 5px solid #c12f24;
	line-height: 35px;
	padding-left: 25px;
	color: #999;
	font-size: 15px;
	letter-spacing: 1.8px;
	margin-top: 15px;
}

/* 内容模块通用头部 结束*/

/* 其他通用样式  开始*/
.padding-0{
	padding: 0;
}
.init{
	padding: 0;
	margin: 0;
}
.long-text{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* 其他通用样式  结束*/